@font-face {
    font-family: "Mirage";
    src: url(fonts/Mirage.ttf);
}

@font-face {
    font-family: "ItNeverStops";
    src: url(fonts/itneverstops.ttf);
}

. {
    margin: 0;
    padding: 0;
}

body {
    background-color: #010F1A;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

body #wrapper {
    width: 80%;
    margin: 5px auto;
    padding: 10px auto;
    color: white;
    font-family: Tahoma, Verdana, sans-serif;
}

body #wrapper > header {
    left: 50%;
}

body #wrapper > header h1 {
    font-family: Mirage, sans-serif;
    font-size: 3em;
    letter-spacing: 4px;
}

hr {
    margin: 30px auto;
    border: none;
    height: 2px;
    background-color: grey;
    color: grey;
}

#wrapper > main p {
    font-size: 1.5em;
    color: #EEE;
}

#wrapper > main > h2 {
    font-family: ItNeverStops, sans-serif;
    font-size: 2em;
    color: #FFF;
}


body #wrapper footer a {
    border-right: 1px solid white;
    padding: 10px;
}

body #wrapper footer a:last-child {
    border-right: none;
}

body #wrapper footer div {
    margin: 30px;
    text-align: center;
}